*{
    margin: 0 auto;
    padding: 0;
}
/* Shared Style */
:root{
    --primary-color:#FF5400;
    --secondary-color:#424247;
    --text-title:#131318;
    --text-color:#FFF;
}
.btn-primary{
    border: 0;
    border-radius: 8px;
    background: var(--primary-color);
    height: 3.25rem;
    width: 13.25rem;
}
.btn-primary:hover{
    cursor: pointer;
}
body{
    font-family: mulish;
}
/* Headear style start */
header{
    max-width: 1280px;
    /* border: 2px solid peru; */
}
/* Header style end */
/* Navber style start */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.50rem auto;
}
.TourZen{
    display: flex;
    color: var(--text-title);
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 60px;
}
.menu{
    
    margin-right: 60px;
}
.menu>ul{
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 10px;
}
.list-items{
    display: inline-flex;
    margin-right: 10px;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.list-items:first-child a{
    color: var(--primary-color);
}
.menu-items{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
    line-height: normal;
}
/* Navbar style end */
main{
    max-width: 1280px;
    /* border: 2px solid rgb(221, 69, 8); */
    /* margin: 20px auto; */
}
/* banner style start */
.banner-container{
    display: flex;
    flex-direction: column;
    /* background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png'); */ 
    /* Attention pls: Bacground use kore linear-gredient use korle thik vabe kaj kore na kno? */
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin: 10PX auto;
    border-radius: 16px;
    
}
.banner-body-text{
    text-align: center;
    margin-top: 150px;
}
.banner-title{
    color: var(--text-color);
    font-size: 64px;
    font-weight: 800;
    line-height: normal;
}
.banner-text{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 1.25rem;
}
.banner-form{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.wherego{
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
}
option{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.src-icon{
    width: 24px;
    height: 24px;
    color: #FFF;
}
/* banner style end */
/* Popular tour style start */
.popular-tour{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 1170px;
}
.popular-tour-title{
    width: 50%;
}
.popular-tour-title > h1{
    color: var(--text-title);
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.popular-tour-desc{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 0;
}
.popular-tour-banner{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.popular-tour img{
    width: 540px;
    height: 400px;
}
/* popular tour style end */
/* choose your destination Style start */
.destination{
    margin: 40px auto;
    text-align: center;
}
.destination-content{
    margin-top: 60px;
}
.description-banner{
    margin-top: 60px;
}
.description-banner img{
    margin: 10px;
}
/* choose your destination style end */
/* choose Us style end */
.chooseus-banner{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.chooseus-card{
    width: 40%;
    height: 220px;
    /* border: 2px solid saddlebrown; */
}
.chooseus-card img{
    margin-bottom: 20px;
}
.chooseus-title{
    margin: 10px 0;
}
.hoter{
    padding: 10px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.map{
    padding: 10px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);    
}
.tag{
    margin-top: 20px;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* Choose us style end */
/* Newsletter style start */
.newsletter{
    width: 1170px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-form{
    width: 500px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin: 50px 20px;
    padding: 30px;
}
.newsletter-form > input{
    width: 393px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 20px 0;
}
.newsletter-form .btn-primary{
    width: 393px;
    /* height: 52px; */
}
.newsletter-tittle{
    color: var(--text-title);
    font-weight: 800;
    line-height: normal;
}
.newsletter-text{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
}
.newsletter-card{
    position: relative;
    margin-right: 45px;
}
.newsletter-card img{
    /* margin-right: 40px; */
    /* position: relative; */
}
.discount{
    position: absolute;
    width: 300px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: var(--primary-color);
    right: 130px;
    margin-top: 170px;
}
.discount-save{
    text-align: center;
    padding: 15px 0;
}
.discount-text{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}
.discount-title{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
/* Footer style start */
footer{
    background: rgba(19, 19, 24, 0.05);
    height: 500px;
    width: 100%;
    /* border: 2px solid rgb(221, 69, 8); */
    text-align: center;
}
.footer-tourzen{
    display: inline-flex;
    align-items: center;
    margin-top: 120px;
}
.footer-text{
    text-align: center;
    margin: 20px;
}
.social-link{
    text-align: center;
}
.social-link > a{
    text-decoration: none;
    padding: 5px;
}

footer > hr{
    margin: 20px 100px;
}
.copywrite{
    margin:60px auto ;
}
/* Newsletter style end */
/* Responsive style */
    @media screen and (max-width: 600px) {
        nav,
        .banner-container
        {
            flex-direction: column;
        }
        /* .banner-container{
            display: flex;
            width: 287px;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        } */
    }
/*  */